<div class="signup-form">
	<h1>Coding <span>Boards</span></h1>
    <form id="login-form" method="POST">
        <h1 id="error">Error {{error_code}}</h1>
        <h3 id="error"> {{error_message}}</h3>
    </form>
	<div class="hint-text">Don't have an account? <a href="/register">Signup here</a></div>
	<div class="hint-text"><a href="/login">Login</a> if you have an account. </div>
</div>