<div  class="signup-form">
	<h1>Coding <span>Boards</span></h1>
    <form>
        <div id="success_form">
            <h3 style="color:#d83030;">Somthing Went Wrong <br> Try Again</h3>
        </div>
        </form>
        <div class="hint-text">Go to <a href="/dashboard">dashboard</a></div>
</div>