<div  class="signup-form">
	<h1>Coding <span>Room</span></h1>
    <form>
            <div style=" height:100px;border-radius:5px;vertical-align:center;">
                <h3 style="color:#3598dc; margin-top:100px">Payment Successful</h3>
            </div>
            <div id="success_form">
                <p>
                <table>
                    <tr>
                        <td>Payment type</td>
                        <td>Net banking</td>
                    </tr>
                    <tr>
                        <td>Customer Id</td>
                        <td>{{customerId}}</td>
                    </tr>
                    <tr style="font-weight: bold;">
                        <td>Amount pain</td>
                        <td>&#8377;{{amount}}</td>
                    </tr>
                </table>
            </p>
            <p>
                *Your account will be resumed in few hours. 
            </p>
            </div>
        </form>
        <div class="hint-text">Go to <a href="/dashboard">dashboard</a></div>
