<div class="header">
    <h3>Schedule New Coding Board</h3>
</div>
<hr>
<div class="success-schedule">
    <h3>Class scheduled successfully</h3>
    <a href="./schedule">Schedule New Coding Board</a>
    <a href="./upcomming">See scheduled classes</a>
</div>        