<div class="signup-form">
	<h1>Coding <span>Boards</span></h1>
    <form id="login-form" method="POST">
        <h4 id="error">Class haven't started</h4>
        <p>Refresh after few mins</p>
    </form>
	<div class="hint-text">Don't have an account? <a href="/register">Signup here</a></div>
	<div class="hint-text"><a href="/login">Login</a> if you have an account. </div>
</div>